/* #clock {
    background-image: url("/images/ClockBG-removebg.png");
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    
}

#clockarm {
    background-color: black;
    height: 170px;
    width: 10px;
    animation: clockarm 300s infinite;
    margin-left: 245px;
    display: flex;
    align-items: left;
    animation-timing-function: linear;
}

#red {
    height: 20px;
    width: 10px;
    background-color: red;
} */

#digitalclock {
    background-image: url("/images/clockframe.jpg");
    background-repeat: no-repeat;
    width: 160px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #002A43;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@keyframes clockarm {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
} 