#clock {
    background-image: url("/images/ClockBG-removebg.png");
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    
}

#clockarm {
    background-color: black;
    height: 170px;
    width: 10px;
    animation: clockarm 300s infinite;
    margin-left: 245px;
    display: flex;
    align-items: left;
    animation-timing-function: linear;
}

#red {
    height: 20px;
    width: 10px;
    background-color: red;
}




@keyframes clockarm {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
} 