body{
    background-color:rgb(216, 196, 159);
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    user-select: none;
}
#canvas{
    margin-top:25px;
    background-color: rgb(180, 201, 131); 
    background-image: url("/images/background.png");
    left:160px;
    position: absolute; 
    top:140px;
}
#img-h1{
    position:fixed;
    left:835px;
    top:10px;
}

#frame{
    position: absolute; 
    left:137px;
    top:140px
}
#helpBar{
    position: absolute;
    left:500px;
    bottom:50px; 
    /* bottom:160px; */
    width: 500px; 
    height: 50px;
}
#digitalclock{
    background-image: url("/images/clockframe.jpg");
    background-repeat: no-repeat;
    width: 160px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #002A43;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: absolute!important;
    right:585px!important;
    top:135px!important;
    cursor:default!important;
}
#loading{
    color:white;
    position:absolute;
    margin: auto;
    font-size:35px;
    top:350px;
    left:480px;
}

#play-button,#play-button-clicked{
    cursor:pointer;
    position: absolute;
    margin: auto;
    font-size:35px;
    top:280px;
    width:240px;
    left:465px;
}

#barFrame{
    position: absolute;
    left:490px;
    bottom:40px; 
    /* bottom:150px; */
    height:70px;
    width:520px;
}
#startoverButton{
    background-color: rgb(199, 73, 73);
    color:white;
    padding:10px 20px;
    border:none;
    width:100px;
    height:25px;
    font-weight:bolder;
    font-size:18px;
    font-family:monospace;
    position:fixed;
    left:680px;
    bottom:380px;
}
#restartLine{
    position:absolute;
    left:650px;
    line-height: 25px;
    bottom:425px;
}

#command-line,#restartLine{
    color:rgb(67, 70, 88);  
    font-weight:900;
    letter-spacing: 0.5px;
    font-size:18px;
    text-align:center;
}

#inventory-bg{
    position: absolute; 
    right:10px;
    bottom:80px;
    /* bottom:190px; */
 }

#inv-items,#inv-items-2{
    width:550px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position:absolute;
   
}

#inv-items{
    right:10px;
    bottom:215px;
    /* bottom:305px; */
 }
.item{
    padding:0 10px;
    margin:0 5px;
    width: 65px;
    text-align:center;
    cursor:pointer;
}
#inv-items-2{
   bottom:105px;
   /* bottom:195px; */
    right:10px; 
}

.amount{
    position:absolute;
    font-family:arial;
    font-weight:bold;
    bottom:75px;
}
#daytime-img{
    position: absolute;
    top:255px;
    right:125px;
    animation-fill-mode:forwards;
    /* animation: moon 180 deg*/
    /* animation: day 360 deg */
}
#moon{
    transform: rotate(180deg);
    left:-5px;
    top:-25px;
    position: absolute;
    animation-fill-mode:forwards ;
}


#day-settings{
    position: absolute;
    right:180px;
    color:#66352a;
    top:335px;
    font-family: monospace;
    font-weight:bold;
    font-size:80px;
}

#coins-amount{
    position: absolute;
    top:165px;
    left:210px;
    font-family:monospace;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-color:rgb(50, 49, 52);
    -webkit-text-stroke-width: 2px;
    font-weight: bolder;
    font-size:35px;
}

#volumeSettings{
    transform: rotate(-90deg);
    position: absolute;
    bottom:200px;
    
}
#soundicon{
    position:absolute;
    bottom:65px;
    left:90px;
}


input[type='range'] {
    overflow: hidden;
    width: 200px;
    height:20px;
    border:2px solid rgb(95, 82, 82);
    border-radius:0.5vh;
    background-color: hsla(0, 0%, 100%, 0);
    -webkit-appearance: none;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height:15px;
    width: 100%;
    -webkit-appearance: none;
    color: #000000;
    margin-top: -1px;
  
}
  
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height:20px;
    margin-top:-2px;
    cursor: pointer;
    background: #b4757571;
    border:2px solid #ffffff;
    box-shadow: -200px 0 0 200px #c64949;
  }
  
#Banner{
    height:220px;
    width:400px;
    position: absolute;
    right:80px;
    top:366px;
}
@keyframes changeDayTime {
    from{
    
    }
    to{
        transform: rotate(180deg);
    }
}

@keyframes changeNightTime{
    from{
        transform: rotate(180deg);
    }
    to{
        transform:rotate(360deg);
    }
}
