body{
    background-color:rgb(216, 196, 159);
}
#canvas{
    margin-top:25px;
    background-color: rgb(180, 201, 131); 
    background-image: url("/images/background.png");
    left:210px;
    position: absolute; 
    top:140px;
}
#img-h1{
    position:fixed;
    left:835px;
}

#frame{
    position: absolute; 
    left:186px;
    top:140px
}
#helpBar{
    position: fixed;
    left:535px;
    bottom:50px; 
    width: 500px; 
    height: 50px;
}

#barFrame{
    position: fixed;
    left:525px;
    bottom:40px; 
    height:70px;
    width:520px;
}

#command-line{
    color:rgb(67, 70, 88);
    font-family: 'Courier New', Courier, monospace;
    font-weight:900;
    letter-spacing: 0.5px;
    font-size:18px;
    text-align:center;
}